@font-face {
    font-family: Quicksand;
    src: url(../../../CSS/fonts/Quicksand-VariableFont_wght.ttf);
}
body{
    font-family: Quicksand;
}
#banner {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url('../../img/isha.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 5em;
    opacity: 5%;
}

#banner2 {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url('../../img/jinx.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 5em;
    opacity: 5%;
}

.navbar {
    background-color: #222222 !important;
    z-index: 999;
}

#prod1 {
    width: 100% !important;
    height: 15em !important;
    background-image: url('../../img/shimmer2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -2em;

}

#prod1_show {
    width: 100% !important;
    height: 15em !important;
    background-image: url('../../img/shimmer2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -2em;

}

#prod2 {
    width: 100% !important;
    height: 15em !important;
    background-image: url('../../img/hextech.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -3em;
}

#prod2_show {
    width: 100% !important;
    height: 15em !important;
    background-image: url('../../img/hextech.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -3em;
}

.banner_content {
    z-index: 99;
}